# ------------------------------------------------------------------------------------
#                               PORT CONFIGURATION
# ------------------------------------------------------------------------------------
# - Map container ports to the host machine. (Use for DEVELOPENT environment only)
# - Change these values only if you encounter a port conflict on your local machine.
# - If left empty or commented out (#), the default container ports will be used.
# ------------------------------------------------------------------------------------

# Backend API
#BACKEND_PORT_EXTERNAL=

# MySQL
#MYSQL_PORT_EXTERNAL=

# Redis
#REDIS_PORT_EXTERNAL=

# MinIO (S3 compatible storage)
#MINIO_API_PORT_EXTERNAL=
#MINIO_CONSOLE_PORT_EXTERNAL=

# Redis Insight UI
#REDIS_INSIGHT_PORT_EXTERNAL=

# MailHog (SMTP testing)
#MAIL_HOG_SERVER_PORT_EXTERNAL=
#MAIL_HOG_CONSOLE_PORT_EXTERNAL=

# 'dev'(for local development) or 'prod'(for production)
ENVIRONMENT=dev

JWT_SECRET_KEY=jwt_secret_key
JWT_ACCESS_TOKEN_EXPIRES=180
JWT_REFRESH_TOKEN_EXPIRES=604800

SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_SEND_MAIL_FROM=

REDIS_USER=redis_user
REDIS_PASSWORD=changethis

MYSQL_DATABASE=doc_hub
MYSQL_ROOT_PASSWORD=changethis
MYSQL_USER=db_user
MYSQL_PASSWORD=changethis


S3_ACCESS_KEY=admin
S3_SECRET_KEY=changethis