server {
    listen 80;
    server_name ${BACKEND_DOMAIN};
    client_max_body_size 20M;

    location / {
        proxy_pass http://backend:8000;
    }
}

server {
    listen 80;
    server_name ${MINIO_DOMAIN};
    location / {
        proxy_pass http://minio:9000;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
    }

}

server {
    listen 80;
    server_name ${FRONTEND_DOMAIN};
    client_max_body_size 20M;

    location /{
        proxy_pass http://frontend:80;
        proxy_set_header Host $host;
    }
}